$primary: #e3e6e0;
$secondary: #010101;
$tertiary: #d8a21e;

// $section-weight: 

body{
    display: grid;
    background-color: $primary;
    color: $secondary;
    padding: 0px 5%;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "div div";
}

header{
    grid-area: header;
}

.item{
    grid-area: div;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header"
        "information foto"
        "sobreMi sobreMi"
        "tools tools"
        "projects projects"
        "footer footer";
}

.sobre-mi{
    grid-area: sobreMi;
    padding-top: 80px;

    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.information{
    grid-area: information;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-family: 'Bebas Neue', sans-serif;
        color: $secondary;
        letter-spacing: 7px;
        font-size: 70px;
    }
}

.foto{
    grid-area: foto;
    padding-top: 100px;

    img{
        object-fit: contain;
        height: 300px;
    }
}

.tools{
    grid-area: tools;
    padding-top: 80px;

    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .cards-tools-container{
        display: flex;
        gap: 30px;
    }

    article{
        border: 1px solid $secondary;
        border-radius: 12px;
        height: 170px;
        width: 170px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4{
            font-size: 16px;
            text-align: center;
            border-top: 1px solid $secondary;
        }
    }

    img{
        width: 100%;
        object-fit: contain;
    }
}

.projects{
    grid-area: projects;

    .projects-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
    }

    .project-card{
        width: 350px;
        height: 480px;
        border: 1px solid white;
        border-radius: 12px;
        margin: 0 auto;
    }
}

.footer{
    grid-area: footer;

    ul{
        list-style: none;
    }

    a{
        display: flex;
        gap: 20px;
    }

    img{
        width: 30px;
        height: 30px;
    }
} 

.bg-body-tertiary {
    background-color: $tertiary !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: $secondary !important;
}

.nav {
    --bs-nav-link-color: $secondary;
}

.navbar{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.navbar-brand {
    color: $secondary;
    font-family: 'Bebas Neue', sans-serif !important;
}